<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HMDA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <userSettings>
        <HMDA.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>@"C:\Users\Zextjchavez.B1842ZACP0188\Desktop\Titulos"</value>
            </setting>
            <setting name="Fijar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Transparente" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Color_B" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_F" serializeAs="String">
                <value />
            </setting>
            <setting name="Fuente" serializeAs="String">
                <value>Microsoft Sans Serif, 7.8pt, style=Bold</value>
            </setting>
            <setting name="firma" serializeAs="String">
                <value />
            </setting>
        </HMDA.Properties.Settings>
    </userSettings>
</configuration>
